---
const SPAIN = "ES";

const contry = Astro.request.headers.get("x-Vercel-IP-Country") ?? "ES";

const storeContry = contry === SPAIN ? "spain" : "usa";

const contryName = contry === SPAIN ? "Español" : "Estados Unidos";

const { buy } = Astro.props;

const url = buy[storeContry];

import AmazonLogo from "./AmazonLogo.astro";
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  title="Comprar en Amazon"
  class="text-balance inline-flex gap-2 items-center bg-yellow-400 hover:bg-yellow-500
        active:bg-yellow-600 text-black font-bold py-2 px-4 rounded-lg border border-yellow-500
        transition duration-200 ease-in-out hover:scale-105 justify-center text-center"
>
  Comprar en Amazon - {contryName}
  <AmazonLogo />
</a>
